body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: url("bG.png") 100% 100% no-repeat;
    background-size: cover ;
}


.container {
    display: flex;
    height: 100vh;
}

.users {
    width: 200px;
    background-color: #36393f;
    color: #fff;
    padding: 20px;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  .cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
  }
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(223, 111, 6, 0.5);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
  }
  .cta span {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  .cta:hover:before {
    width: 100%;
    background: rgb(223, 111, 6);
    
  }
  .cta:hover svg {
    transform: translateX(0);
  }
  .cta:active {
    transform: scale(0.96);
  }
 
.users h2 {
    margin: 0 0 20px;
}
 
.users ul {
    list-style: none;
    padding: 0;
}
 
.users li {
    margin: 1px -20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .4s ease-in-out;
    padding: 7px 15px;
    border-radius: 5px;
}
 
.users li:hover {
    transform: scale(1.1);
    margin-left: 15px;
    background: #333;
}
 
.users li span {
    color: #fff;
}
 
.users li span small {
    color: #ccc;
}

.chat {
    flex: 1;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    
}

.chat h2 {
    margin: 0 0 20px;
}

.chat-messages {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;

}

.chat-messages p {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #80422a;
    display: inline;
    color: #ccc;
}

.chat form {
    display: flex;
}

.chat input[type="text"] {
    flex: 3;
    padding: 10px;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 10px;
}

#send{
    margin: 0 4px;

}
#send:before{
    background: rgba(13, 162, 231, 0.5);
}
#send:hover:before{
    background: rgb(13, 162, 231);
}
.chat button[type="submit"] {
    padding: 10px;
    border: none;
    flex: 1;
    cursor: pointer;
    
}

.users li img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-messages p img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.chat-messages img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.chat-messages .message {
    display: flex;
    margin-bottom: 15px;
    position: relative;
    
}
.chat-messages .pv {
    top: 0;
    right: 25px;
    display: none;
    position: absolute;
    background-color: #ffffff99;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px 7px;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
}
.chat-messages .message:hover .pv {
    display: inline;
}

.chat-messages .message > div {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 15px;
}

.chat-messages .message > div > div {
    padding: 15px 0;
}

